@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@font-face {
  font-family: "wild_worldbold";
  src: url("https://assets.codepen.io/756881/wild_world-webfont.woff2") format("woff2"), url("https://assets.codepen.io/756881/wild_world-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* @link https://utopia.fyi/type/calculator?c=320,20,1.2,1140,24,1.25,1,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1140;
  --fluid-screen: 100vw;
  --fluid-bp: calc(
   (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
    (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}
:root {
  --f-0-min: 18;
  --f-0-max: 20;
  --step-0: calc(
   ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
    var(--fluid-bp)
  );
  --f-1-min: 20;
  --f-1-max: 24;
  --step-1: calc(
   ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
    var(--fluid-bp)
  );
}

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: "Open Sans", sans-serif;
  color: white;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  font-weight: 300;
  overflow-x: hidden;
  font-size: var(--step-0);
}

section {
  min-height: 100vh;
}

p {
  line-height: 1.35;
}

#content {
  padding: 0 0.75rem;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.flow--lg > * + * {
  margin-top: 2em;
}

.flow > * + * {
  margin-top: 1em;
}

.title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
}

#content {
  overflow: visible;
  width: 100%;
}
.heading {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

h1 {
  font-size: clamp(12px, 8vw, 100px);
  text-align: center;
  line-height: 0.67;
  margin: 0 auto;
  font-family: "wild_worldbold";
}
h1 .eyebrow {
  font-family: "Open sans", sans-serif;
  font-size: clamp(12px, 3vw, 40px);
  font-weight: 400;
}

.heading p {
  font-family: "wild_worldbold";
  font-size: 15.5vw;
  font-size: clamp(12px, 15.5vw, 250px);
  text-align: center;
  line-height: 0.67;
  margin: 0;
  text-align: center;
  color: #111;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  margin-bottom: 10px;
  z-index: -10;
}
.heading p#torugo{
  -webkit-text-stroke-color: red;
}

.intro,
h2,
h3 {
  font-size: var(--step-1);
  font-weight: 500;
}

.text-container {
  position: relative;
}

.text-container p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  color: transparent;
  line-height: 0.5;
}
.text-container p#lilith{
  animation: neon 5s infinite;

}
@keyframes neon {
  0%, 39%, 41%, 59%, 61%, 62%,64%, 100%{
      text-shadow: 
      #fff 0 1px 12px,
      red 0 1px 36px,
      red 0 1px 48px;
      /* #ff3ac4 0 1px 36px,
      #ff3ac4 0 1px 48px
      ; */
  }
  40%, 60%, 63%{
      text-shadow: none;
  }
}

.text-container p:first-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  color: white;
}

.image-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0.2rem;
  grid-row-gap: 0.2rem;
  width: 70vw;
  margin: 0 auto;
  padding-top: 40vh;
  z-index: -1;
}
.image-grid .image_cont {
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.image-grid img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 150%;
  object-fit: cover;
}
.image-grid .image_cont:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.image-grid .image_cont:nth-child(2) {
  grid-column: 3;
  grid-row: 2;
}
.image-grid .image_cont:nth-child(3) {
  grid-column: 2;
  grid-row: 3;
}




.parallax-images {
  margin-top: 10vh;
  padding: 10rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 20vh;
  align-items: center;
  justify-items: center;
}
.parallax-images .image_cont {
  position: relative;
  height: 90vh;
  overflow: hidden;
}
.parallax-images img {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.parallax-images .parallax-text {
  grid-column: 2;
  grid-row: 1;
}
.parallax-images .image_cont:nth-child(2) {
  grid-column: 1/span 1;
  grid-row: 1;
  width: 100%;
}
.parallax-images .image_cont:nth-child(3) {
  grid-column: 2/span 1;
  grid-row: 2;
}
.image_cont {
  --hoverContorno: red;
}

.image_cont:hover,
.image_cont:focus {
  -webkit-animation: cardAnimacion 1s;
  animation: cardAnimacion 1s infinite;
  box-shadow: 0 0 0 0.8em rgba(255, 255, 255, 0);
}

@-webkit-keyframes cardAnimacion {
  0% {
    box-shadow: 0 0 0 0 var(--hoverContorno);
  }
}

@keyframes cardAnimacion {
  0% {
    box-shadow: 0 0 0 0 var(--hoverContorno);
  }
}

@media only screen and (max-width: 700px) {
  .parallax-images{
    display: flex;
    flex-wrap: wrap-reverse;
  }
}

.spacer {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stagger {
  font-size: 8vw;
}

.bars {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
}
.bars .bars-text {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.bars .bars-cont {
  flex: 1 1 500px;
  display: flex;
  width: 100%;
  height: 60vh;
  align-items: flex-end;
}
.bars .bar {
  border-radius: 10px;
  margin: 2vw;
  text-align: center;
  flex: 1 0 auto;
  font-size: var(--step-0);
  justify-self: flex-end;
  font-family: "wild_worldbold";
  font-size: clamp(16px, 3vw, 36px);
}

.content {
  border-left: solid 1px white;
  padding: 0.5rem 2rem;
}

.staggered {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 4rem;
}
.staggered h3 {
  font-family: "wild_worldbold";
  font-size: clamp(16px, 6vw, 80px);
  letter-spacing: 0.03em;
}
.staggered_text {
  flex: 1 1 300px;
}
.staggered_demo {
  flex: 1 1 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.staggered_demo h3{
  position: relative;
  display: inline-block;
  animation:  textTyping 5s steps(12) infinite;
  overflow: hidden;
  color: red;
}
@keyframes textTyping {
  0%,90%,100%{
    width: 0px;
    box-shadow: 0;
    height: 100px;
  }
  30%,60%{
    width: 600px;
    height: 100px;
  }
}

.parallax-slab {
  position: relative;
  height: 500px;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}
.parallax-slab img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180%;
  object-fit: cover;
}
.parallax-slab video {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180%;
  object-fit: cover;
}

.v-center {
  display: flex;
  align-items: center;
}

.spacer {
  height: 10vh;
}





.produto-container{
  width: 100%;
  height: 200vh;
  background-color: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.produto-container .produtos{
  /* background-color: blue; */
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.produtos .card {
  width: 300px;
  height: 300px;
  background-image: linear-gradient(163deg, #ff0000 0%, #4c00ff 100%);
  border-radius: 30px 0 30px 0;
  margin: 30px;
  transition: all .5s;
 }
 
 .card2 {
     overflow: hidden;
  width: 300px;
  height: 300px;
  background-color: #1a1a1a;
  transition: all .5s;
  color:transparent ;
  text-align: center;
  font-size: 0.7em;
  font-weight: 700;
 }
 .card2 h3{
   font-size: 1.3em;
 }
 
 .card2:hover {
  transform: scale(0.98);
  border-radius: 30px 0 30px 0;
  transition: all .5s;
  color: #fff;
  /* height: 230px; */
 }
 .card2 img:hover{
  transform: scale(1);
  border-radius: 30px 0 0px 0;
  height: 70%;
  transition: all .5s;
  width: 100%;
 
 }
 .card2 img{
     width: 120%;
     height: 100%;
     transition: all .5s;
     transform: scale(1.1);
     
 }
 
 .card:hover {
  transform: scale(1.10);
  /* box-shadow: 0px 0px 20px 1px red; */
 }


@media only screen and (max-width: 945px) {
  @keyframes textTyping {
    0%,90%,100%{
      width: 0px;
      box-shadow: 0;
      height: 75px;
    }
    30%,60%{
      width: 500px;
      height: 75px;
    }
  }
}
@media only screen and (max-width: 800px) {
  @keyframes textTyping {
    0%,90%,100%{
      width: 0px;
      box-shadow: 0;
      height: 60px;
    }
    30%,60%{
      width: 50%;
      height: 60px;
    }
  }
}
@media only screen and (max-width: 650px) {
  @keyframes textTyping {
    0%,90%,100%{
      width: 0px;
      box-shadow: 0;
      height: 40px;
    }
    30%,60%{
      width: 50%;
      height: 40px;
    }
  }
}
@media only screen and (max-width: 440px) {
  @keyframes textTyping {
    0%,90%,100%{
      width: 0px;
      box-shadow: 0;
      height: 30px;
    }
    30%,60%{
      width: 50%;
      height: 30px;
    }
  }
}
